.inner-container{
    box-shadow: 0px 0px 3px 4px  lightgrey;
    padding: 50px;
    max-width: 90%;
    border-radius: 10px;
    background-color: white;
}
.main-container{
    padding: 0;
}
.username{
    /* float: left; */
    justify-self: normal;
    float: right;
    padding-top:20px;
    padding: 25px;
}
.btnedit{
    background-color: #4A00E0;
    color: white;
    
    border-radius: 15px;
}
.btnEdu{
    background-color:white ;
    color: #4A00E0;
    font-size:22px ;
    border-radius: 15px;
}
hr{
    border:1px solid lightgrey; 
}

.labels{
    /* text-decoration: solid; */
    font-size: 23px;
    
}

.form-control{
    border-radius: 20px;
    border: 1px solid #4A00E0;
}


.btns{
    font-size: 20px;
    color: #4A00E0;
    background-color: white;
}

.btn-primary{
    font-size: 22px;
    padding: 10px;
    width: 300px;
    border-radius: 35px;
}

.education-pt{
    /* color:#4A00E0; */
    padding: 10px;
    font-size: 20px;

}