.inner-container{
    box-shadow: 0px 0px 3px 4px  lightgrey;
    padding: 50px;
    max-width: 70%;
    border-radius: 10px;
    background-color: white;
}
.main-container{
    padding: 0;
}
.heading-form-student{
    padding-top: -20px;
    font-weight: 600;

}
.username{
    /* float: left; */
    justify-self: normal;
    float: right;
    padding-top:20px;
    padding: 25px;
}
.btnedit{
    background-color: #4A00E0;
    color: white;
    
    border-radius: 15px;
}
.btnEdu{
    background-color:white ;
    color: #4A00E0;
    font-size:22px ;
    border-radius: 15px;
}
hr{
    border:1px solid lightgrey; 
}

.labels{
    /* text-decoration: solid; */
    font-size: 23px;
    
}
.student-data-form{
    font-size: 16px;
    font-weight: 500;

}

.form-control{
    border-radius: 20px;
    border: 1px solid #4A00E0;
}


.btns{
    font-size: 18px;
    color: #4A00E0;
    background-color: white;
}

.btns-add-image{
    font-size: 15px;
    color: #4A00E0;
    background-color: white;
}
.btns-add-image:hover{
    cursor: pointer;
}

.btn-primary{
    font-size: 22px;
    padding: 10px;
    width: 300px;
    border-radius: 35px;
}

.education-pt{
    /* color:#4A00E0; */
    padding: 10px;
    /* padding-top: 0; */
    font-size: 20px;

}
.btn-edit-student{
    width: 25px;
    height:25px
}
.btn-delete-student{
    width:20px;
    height:25px;
    margin-left: 40px;
}
.label-education{
    margin-top: 5px;
    margin-left: 15px;
}
.date-label-resume{
    font-size: 18px;
}
.date-label-resume-descp{
    font-size: 18px;
}
@media only screen and (max-width: 900px) {
    .label-education{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .inner-container{
        min-width: 100%;
        box-shadow: none;
        margin-top: -80px;
    }
    .heading-form-student{
        font-size: 20px;
    }
    .student-data-form{
        font-size: 15px;
        font-weight: 400;
    }
    .mobile-education-margin{
        /* margin-top: ; */
    }
    .form-img-student{
        height:100px;
        width:100px;
    }
    .btns-add-image {
     font-size: 10px;
      margin-top: 7px;
/* margin-right: 20px; */
    }
    .label-education{
        margin-top: -40px;
        font-size: 18px;
        margin-left: 0px;
    }
    .username{
        font-size: 12px;
    }
    .student-name{
        margin-top: -10px;
        font-size: 17px;
    }
    .btn-edit-student{
        width:12px;
        height:12px;
        margin-right: 10px;
      
    }
    .btn-edit-student-main{
        padding: 0;
        margin-top: -15px;
    }
    .btn-delete-student{
        width:10px;
        margin-left: 14px;
        height:15px
    }
    .student-10-data{
     margin-left: -10px;
    }
}

@media only screen and (max-width: 600px) {
    .inner-container{
        max-width: 90%;
    }
    .student-data-form{
        font-size: 14px;
        font-weight: 400;
    }
}