@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@700&display=swap');


.containerFluid{
    padding: 0;
}

.containerInner{
    max-width: 90%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 4px 4px lightgrey;
}

.display-5{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-decoration: double;
    color:  #4A00E0;
}