@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.main-score{
    width: 100% !important;
    height: auto;
    /* margin-top: 50px; */
    
}
.logo{
    padding-top: -30px;
    padding: 20px;
    padding-bottom: 0;
}
.result-heading{
    font-weight: 700;
    font-size: 22px;
}
.test-status-img{
    width: 30px;
    height:30px;
}
.box-result {
    text-align: center;
    border-radius:12px ;
    width: 60%;
    height: auto;
    padding-top:40px;
    background-color: white;
    padding-bottom:24px;
    margin-top: 10vh;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
}
.two {
    margin-top: 20px;
    width: 100%;
    
}
.two p{
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}
.submitted {
    font-size: 1.1em;
    font-weight: 300;
}

.ul-test{
    text-decoration: underline;
}
.three {
  width: 70%;
  background-color: #1697F2;
  margin: auto;
  padding: 8px;
  border-radius: 20px;
}
.three a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 550;
    font-style: normal;
    cursor: pointer;
}
.three a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.three1 {
    width: 40%;
    margin-top: 30px;
}
@media (max-width : 1200px) {
    .box-result {
        margin-top: 12vh;
        height: auto;
        width: 50vw;
    }
}
@media (max-width : 860px) {
    .box-result {
        margin-top: 6vh;
        height: auto;
        width: 60vw;
    }
    .submitted{
        font-size: 0.8rem;
        font-weight: 100;
    }
    .three {
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
      .outer-navbar-skill-links{
          float: right;
      }
}
@media (max-width : 750px) {
    .box-result {
        margin-top: 6vh;
        height: auto;
        width: 65vw;
    }
    .test-status-img{
        width: 20px;
        height:20px;
    }
    .three {
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
}
@media (max-width : 630px) {
    .box-result {
        margin-top: 6vh;
        height: auto;
        width: 80vw;
    }
    .three {
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
}
@media (max-width : 570px) {
    .box-result {
        margin-top: 8vh;
        width: 85vw;
        height: auto;
        
    }
    .three {
        width: 90%;
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
    p {
      font-size: 1em;
    }
    .btn-intern-status{
        font-size: 10px;
    }
}
@media (max-width : 330px) {
    .box-result {
        margin-top: 14vh;
        width: 95vw;
        height: auto;
    }
    .three {
        width: 70%;
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
    p {
      font-size: 0.8em;
    }
}
