@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.main-box {
     margin-top: -7px;
     background-color: #4A00E0; 
    height: 100vh;
    /* padding: 0; */
    background-image: url("../images/squarebg.jpeg");  
     background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    backdrop-filter: inherit;
    background-position: right; 
   
}
/* .navbar-shadow{
    box-shadow: 0 0 6px 12px whitesmoke;
} */
.innerBox {
    text-align: center;
    border-radius:16px;
    max-width: 55%;
    padding:20px;
    background-color: white;
    margin-top: 20px;
    padding-bottom: 10vh;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
}

.logo-merge-div{
    font-weight: 500;
    font-size: 25px;
  font-family: 'Spartan', sans-serif;
  color:white;
  background-color: black;
}
.main-box-instructions{
    height: 102vh;
    margin-bottom: 10px;
    background-color: #4A00E0!important;
    /* background-image: url("../images/Group\ 2892.png");  */
    background-image: url("../images/squarebg.jpeg");
}
.btn-sm-primary{
    width: 250px;
}
.merge-logo-all-student{
    height: 30px;
    width: 90px;
}

.instruction-box-main{
border-radius: 20px;
padding: 50px;
margin-top: -15px;
max-width: 70%;
margin-bottom: 20px;
background-color: white;
}

.icons-container{
    max-width: 50%;
      margin-top: -140px;
      /* padding: 20px; */
}
.checkLabel1:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: #4A00E0 !important;
}
.step1{
    margin-top: -30px;
    font-weight: 800;
    color:#4A00E0;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;

    letter-spacing: 1px;
}


.check {
    display: none;
    padding: 0;
}

.inputs input {
    border: #4A00E0 1px rgba(0,0,0,0.4);
    border-radius: 20px;
    font-size: 15px;
}
.field {
    margin-bottom: 20px;
    display: flexbox;
}

.fieldName {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.checkLabel{
    /* display:inline-block; */
    border-radius: 20px;
    text-align: center;
    width: 140px;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    margin-top: -10px !important;
    margin-left: 10px;
    color: white;
   
}
.label-skill{
    margin: 0;
}
.buttons {
    margin-top: 20px;
    outline: none;
    text-align: center;
}
.confirmation, .confirmation1{
    width: 40%;
    /* margin: auto; */
    /* padding-left: 40px; */
    border-radius: 40px;
    background-color: #4A00E0;
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.confirmation1 {
    background-color: white;
    color: #4A00E0;
    border: solid 1px #4A00E0!important;
}
.confirmation1:hover{
    background-color: #4A00E0;
    color: white;
}
@media only screen and (max-width : 1200px) {
   .innerBox{
       max-width: 90%;
   }
   .main-box{
       height: auto;
   }
   .checkLabel{
    /* display:none; */
    width: 30px;
    padding: 6px;
    font-size: 12px;
    font-weight: 700;
    /* margin-left: 10px; */
}
}

.mobile-view-quiz{
    display:none;
}
.skill-name-frontend{
    font-size: 20px;
}

@media only screen and  (max-width : 768px) {
    .innerBox{
        max-width: 95%;
    }
    .step1{
        margin-top: 10px;
    }
    .skill-name-frontend{
        font-size: 18px;
    }
    .main-box{
        height: 150vh;
    }
    .main-box-location{
        height: 180vh;
    }
    .main-box-instructions{
        display: none;
    }
    .mobile-view-quiz{
        display: contents;
    }
    .main-box-location{
        height: 135vh!important;
        background-color: #4A00E0!important;
        /* background-image: url("../images/Group\ 2892.png");  */
        background-image: url("../images/squarebg.jpeg");
    }
    .checkLabel{
        font-size: 12px;
        padding: 8px;
        width: 70px;
        font-weight: 500;
        margin-left: -10px;
    }
    .confirmation{
        padding:6px !important;
        font-size: 12px;
        margin: 10px !important;
        font-weight: 500;
    }
    /* .buttons{
        padding: 10px;
    } */
    .confirmation1{
        margin-right: 10px;
        padding:5px !important;
        font-size: 12px;
        font-weight: 500;
    }
  

    .dataForm .prefs {
        border: solid 1px rgba(0,0,0,0.4);
        border-radius: 23px;
        font-size: 16px;
        font-weight: 600;
         margin-left: -10px !important;
        /* padding-left: 10px; */
        height: 40px !important;
        color: rgba(0,0,0,0.3);
        margin-bottom: 10px;
    }
 }
 