@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    background-color: #4A00E0!important;
    height: 100vh;
    background-image: url("../assets/Group\ 2892.png");
    background-position: center;
    background-size: cover;
}
.logo{
    padding: 35px;
    padding-bottom: 0;
}
.grid {
    text-align: center;
    border-radius:12px ;
    margin: auto;
    width: 440px;
    padding-top:40px;
    background-color: white;
    padding-bottom:24px;
    margin-top: 18vh;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
}
.two {
    margin-top: 20px;
}
.two p{
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}
.two .submitted {
    font-size: 1.2em;
    font-weight: 700;
}
.three {
  width: 70%;
  background-color: #1697F2;
  margin: auto;
  padding: 8px;
  border-radius: 20px;
}
.three a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 550;
    font-style: normal;
    cursor: pointer;
}
.three a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.three1 {
    width: 40%;
    margin-top: 30px;
}
@media (max-width : 1200px) {
    .grid {
        margin-top: 12vh;
        width: 50vw;
    }
}
@media (max-width : 860px) {
    .grid {
        margin-top: 12vh;
        width: 60vw;
    }
    .three {
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
}
@media (max-width : 750px) {
    .grid {
        margin-top: 12vh;
        width: 65vw;
    }
    .three {
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
}
@media (max-width : 630px) {
    .grid {
        margin-top: 12vh;
        width: 80vw;
    }
    .three {
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
}
@media (max-width : 570px) {
    .grid {
        margin-top: 14vh;
        width: 85vw;
        height: 60vh;
        grid-template-rows: 1fr 1fr 0.8fr;
    }
    .three {
        width: 90%;
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
    p {
      font-size: 1em;
    }
    .btn-intern{
        font-size: 10px;
    }
}
@media (max-width : 330px) {
    .grid {
        margin-top: 14vh;
        width: 95vw;
        /* height:38vh; */
        grid-template-rows: 1fr 1fr 0.8fr;
    }
    .three {
        width: 70%;
        background-color: #1697F2;
        margin: auto;
        padding: 8px;
        border-radius: 20px;
      }
    p {
      font-size: 0.8em;
    }
}
