.main-box {
    margin-top: -67px;
    background-color: #4A00E0!important;
    height: 110vh;
    background-image: url("../images/Group\ 2892.png"); 
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed;  */
}
.main-box-instructions{
    height: 120vh;
    background-color: #4A00E0!important;
    background-image: url("../images/Group\ 2892.png"); 
}
.innerBox {
    text-align: center;
    border-radius:16px;
    max-width: 55%;
    padding:20px;
    background-color: white;
    /* margin-top: 10vh; */
    padding-bottom: 10vh;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
}
@media (max-width : 1200px) {
   .innerBox{
       max-width: 85%;
   }
   .main-box{
       height: auto;
   }
   .checkLabel{
    display:none;
    width: 50px;
    padding: 6px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
}
}
@media (max-width : 660px) {
    .innerBox{
        max-width: 85%;
    }
    
    .checkLabel{
     width: 50px;
     padding: 6px;
     font-size: 12px;
     font-weight: 700;
     margin-left: 10px;
 }
 }
@media (max-width : 768px) {
    .innerBox{
        max-width: 85%;
    }
    .main-box{
        height: 110vh;
    }
    .checkLabel{
        
        width: 70px;
        padding: 6px;
        font-size: 10px;
        font-weight: 700;
        margin-left: 10px;
    }
 }
 @media (max-width : 570px) {
    .innerBox{
        max-width: 85%;
    }
   
    .checkLabel{
       
        width: 30px;
        padding: 6px;
        font-size: 9px;
        font-weight: 700;
        margin-left: 10px;
        color: white;
        background-color: #9F9F9F;
    }
 }
.check {
    display: none;
    padding: 0;
}

.inputs input {
    border: #4A00E0 1px rgba(0,0,0,0.4);
    border-radius: 20px;
    font-size: 15px;
}
.field {
    margin-bottom: 20px;
    display: flexbox;
}

.fieldName {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.checkLabel{
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    width: 130px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    color: white;
    background-color: #9F9F9F;
}
.buttons {
    margin-top: 20px;
    outline: none;
    text-align: center;
}
.confirmation, .confirmation1{
    width: 40%;
    margin: auto;
    border-radius: 40px;
    background-color: #1697F2;
    color: white;
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
}
.confirmation1 {
    background-color: white;
    color: #1697F2;
    border: solid 1px #1697F2!important;
}
