.board {
    border: solid 1px #4A00E0;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(74,0,174,0.4);
}
.heading {
    color: #4A00E0;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 40px;
}

.application-text{
    font-size: 18px;
    font-weight: 500;
}
.btn-prev-applications{
    color: #4A00E0;
    margin-left: 500px;
    background-color: white;
    border:1px solid #4A00E0;
}
.btn-next-applications{
    color: white;
    background-color: #4A00E0;

}

.downArrow {
    margin-left: 6px;
    height: 20px;
}


.titleCol {
    padding-top: 20px;
    font-size: 1em;
    font-weight: 500;
    color: black;
}


hr {
    width: 99%;
    background-color:rgba(0,0,0,0.4);
    margin-top: 10px!important;
}



.rowCol {
    font-weight: 500;
    text-align: center;
    font-size: 1em;
}
.rowCol .status {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    display: inline;
}
.rowCol .action {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    display: inline;
}

*:focus {
    outline: 0 !important;
}
.nextPage {
    /* margin: 20px 0; */
}
.left {
    border: solid 1px transparent;
    font-size: 36px;
    padding: 5px;
    font-weight: 800;
    color: #4A00E0;
    margin-left: 640px;
    background-color: transparent;
}
.right{
    border: solid 1px transparent;
    font-size: 36px;
    padding: 5px;
    font-weight: 800;
    color: #4A00E0;
    background-color: transparent;

}
.currentPage {
    padding-top: 13px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.left:hover {
    outline: none;
}
.right:hover {
    outline: none;
}



.more {
    margin-left: 30px;
    height: 16px;
}

.actions {
    position: absolute;
    z-index: 4;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 0 10px;
    height: 80px;
    right: 10%;
    margin-top:30px;
    display: none;
    font-size: 10px;
}
.actions hr {
    margin-bottom: 0;
}
.actions p{
    text-align: left;
    padding-top: 10px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 6px; 
}
.actions p img {
    margin-right: 10px;
}


@media only screen and (max-width: 1000px) {
    .titleCol {
        padding-top: 20px;
        font-size: 0.9em;
    }
    .downArrow {
        margin-left: 10px;
        height: 16px;
    }
    .rowCol {
        font-size: 0.9em;
    }
    .rowCol .status {
        font-size: 10px;
        padding: 6px 6px;
    }
    .rowCol .action {
        font-size: 10px;
        padding: 6px 6px;
    }
}

@media only screen and (max-width: 775px) {
    .titleCol {
        padding-top: 20px;
        font-size: 0.7em;
    }
    .downArrow {
        height: 10px;
        margin-left: 10px;
    }
    .rowCol {
        font-size: 0.8em;
    }
    .rowCol .status {
        font-size: 8px;
        padding: 3px 3px;
    }
    .rowCol .action {
        font-size: 8px;
        padding: 3px 3px;
    }
    .more {
        margin-left: 1px;
        height: 12px;
    }
    .left, .right {
        font-size: 16px;
        outline: none;
    }
    .currentPage {
        font-size: 16px;
    }
}

@media only screen and (max-width: 550px) {
    .titleCol {
        padding-top: 20px;
        font-size: 0.6em;
    }
    .downArrow {
        height: 8px;
        margin-left: 10px;
    }
    .rowCol {
        font-size: 0.5em;
    }
    .rowCol .status {
        font-size: 8px;
        padding: 3px 3px;
    }
    .rowCol .action {
        font-size: 8px;
        padding: 3px 3px;
    }
    .more {
        margin-left: 10px;
        height: 8px;
    }
}

@media only screen and (max-width: 375px) {
    .titleCol {
        padding-top: 20px;
        font-size: 0.5em;
    }
    .downArrow {
        height: 8px;
        margin-left: 4px;
    }
    .rowCol .action {
        font-size: 8px;
        padding: 3px 2px;
    }
}
