@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@700&display=swap');

.navBar {
    height: 100px;
    padding-left: 50px;
}
.navBarElements {
    height: 100px;
    line-height: 100px!important;
}
.company-navbar-heading-merge{
    font-family: 'Spartan', sans-serif;
    color: #4A00E0;
    font-size: 25px;
    padding-left: 20px;
}
.companny-navbar-nav-link-subitem{
    color: black;
    margin-left: 50px;
    font-weight: 500;
}
.userpng-company-navbar{
    color: #4A00E0;
    height:30px;
    width:30px;
}
.navBar img {
    height: 30px;
}
.userIcon {
    position: absolute;
    right: 0;
    top: 35px;
    margin-right: 50px;
}
.navBar .navItems {
    text-decoration: none;
    color: white;
    margin-left: 100px;
}

@media only screen and (max-width: 900px) {
    .navBar {
        height: 70px;
        padding-left: 20px;
    }
    .navBarElements {
        height: 70px;
        line-height: 70px!important;
    }
    .navBar img {
        height: 25px;
    }
    .userIcon {
        position: absolute;
        right: 0;
        top: 25px;
        margin-right: 20px;
    }
    .navBar .navItems {
        font-size: 0.9em;
        text-decoration: none;
        color: white;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .navBar {
        height: 70px;
        padding-left: 10px;
    }
    .navBarElements {
        height: 70px;
        line-height: 70px!important;
    }
    .navBar img {
        height: 20px;
    }
    .userIcon {
        position: absolute;
        right: 0;
        top: 25px;
        margin-right: 20px;
    }
    .navBar .navItems {
        font-size: 0.7em;
        text-decoration: none;
        color: white;
        margin-left: 10px;
    }
}

