@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@700&display=swap'); 

.postInternship {
    width: 90%;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 4px 4px lightgrey;
    padding: 0 10%!important;
}
* {
    outline: none;
}
.postInternship img {

    margin-top: 30px;
    height: 16px;
}
.heading {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    color: #4A00E0;
}
.postInternship .head {
    font-size: 1.5em;
    font-weight: 600;
}
.postInternship .head3 {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}



/* Internship Profile Section */
.profileContainer {
    border: solid 1px black;
    margin: auto;
    border-radius: 10px;
    padding: 2%;
}
.availableProfiles {
    padding-left: 5%;
}
.availableProfiles label input {
    margin-right: 30px!important;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.3); 
}
.availableProfiles label {
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
}
.otherProfile {
    width: 90%;
    display: none;
    margin: auto;
    margin-top: 30px;
    border: solid 1px black;
    border-radius: 10px;
    height: 50px;
    font-size: 1.2em;
    padding-left: 30px;
    outline: none;
}


.profile-input-form{
    border-radius: 10px;
    padding: 10px;
    border:1px solid black;
}


/* Internship Type*/
.placeTime {
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px 0;
}
.placeTime input {
    margin-right: 20px;
   height: 20px;
}
.placeTime label {
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
}
.typeIntern {
    color: rgba(0,0,0,0.5);
    font-size: 1.3em;
    font-weight: 600;
}



/* Start Date */
.city {
    width: 100%;
    border: 1px solid  black;
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    /* outline: none; */
}
.added {
    width: 92%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}
.addedRecently {
    background-color: rgba(74,0,224,0.3);
    padding: 6px;
    padding-left: 16px;
    line-height: 22px;
    width: fit-content;
    font-size: 18px;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
}
.deleteBtn {
    background-color: transparent;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    border: none!important;
    color: white;
    outline: none!important;
}



/* Start Date*/
.startDate {
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
    padding-top: 20px;
}
.startDate input[type="radio"] {
    margin-right: 40px;
   height: 20px;
}
.startDate label {
    margin-left: 30px!important;
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.7);
}
.startDate .selectDate {
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    padding-left: 30px;
    outline: none;
    margin-bottom: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 50px;
}



/* Duration */
.duration input {
    border: solid 1px black;
    border-radius: 10px;
    height: 50px;
    padding-left: 30px;
    font-size: 22px;
}



/* Responsibility */
textarea {
    resize: vertical;
    min-height: 300px;
    padding-top: 20px;
    resize: none;
}



/* Stipend */
.stipendType {
    /* width: 92%; */
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
    padding: 30px;
}
.stipend {
    border: none;
    margin-left: 0;
}
.pay {
    margin-top: 20px;
}
.pay select {
    height: 50px;
    padding: 5px;
    padding-left: 30px;
    border: solid 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 100%;
    font-weight: 600; 
    color: rgba(0,0,0,0.7);
    font-size: 1.3em; 
    margin: 0!important;
}
.pay input {
    margin: 0!important;
    width: 100%;
    height: 50px;
    padding: 5px;
    padding-left: 30px;
    border: solid 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
    font-size: 1.3em;
}
.pay select {
    -webkit-appearance: none;
    background: url(../assets/downArrow.png) no-repeat right;
    background-size: 8%;
    background-position-x: 85%;
} 
.pay #currency {
    background-size: 16%;
}






.inputs {
    width: 100%;
    margin: auto;
    text-align: left;
}
.check {
    display: none;
}
.field {
    margin-bottom: 20px;
}
.fieldName {
    font-size: 18px;
    margin-left: 30px;
    font-weight: 600;
}
.checkLabel{
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
    color: white;
    background-color: #9F9F9F;
}

.otherFields {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
    border: solid 1px rgba(0,0,0,0.4);
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    padding-left: 30px;
    outline: none;
}



.questions {
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
    padding: 30px;
    font-size: 22px;
    font-weight: 600;
}
.questions p:nth-child(1) {
    color: rgba(0,0,0,0.6);
}
.questions .addMore {
    text-align: left;
    color: #4A00E0;
    font-size: 20px;
    font-weight: 700;
    outline: none!important;
    border: none;
    background-color: white;
}
.questions .addMore b {
    font-size: 30px;
}

.questions .extra {
    min-height: 200px;
    margin-bottom:10px;
}
.save {
    padding-bottom: 100px;
    margin-top: 70px;
    outline: none;
    font-size: 22px;
    text-align: center;
}
.draft, .proceed{
    width: 30%;
    height: 50px;
    margin: auto;
    border-radius: 40px;
    background-color: #1697F2;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.draft {
    background-color: white;
    color: #1697F2;
    border: solid 1px #1697F2!important;
}


@media only screen and (max-width: 800px) {
    .heading {
        margin-bottom: 30px;
        font-size: 1.4em;
        font-weight: 600;
    }
    .postInternship .head {
        font-size: 1em;
    }
    .postInternship .head3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .availableProfiles {
        padding-left: 1%;
    }
    .availableProfiles label input {
        margin-right: 20px!important;
       height: 20px;
    }
    .availableProfiles label {
        font-size: 1.1em;
    }    
    .placeTime {
        padding: 1% 0;
    }
    .placeTime input {
        margin-right: 20px;
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3);
        transform: scale(1.3); 
    }
    .placeTime label {
        font-size: 1.1em;
    }
    .typeIntern {
        font-size: 1.1em;
    }
    .startDate input[type="radio"] {
        margin-right: 20px;
        -ms-transform: scale(1.3); 
        -webkit-transform: scale(1.3); 
        transform: scale(1.3); 
    }
    .startDate label {
        margin-left: 20px!important;
        font-size: 1.1em;
    }
    .startDate .selectDate {
        height: 40px;
        font-size: 16px;
        padding-left: 20px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        margin-right: 50px;
    }
    .duration input {
        height: 40px;
        font-size: 16px;
    }
    .pay select {
        height: 40px;
        padding-left: 10px;
        font-size: 1.1em; 
    }
    .pay input {
        height: 40px;
        padding: 5px;
        padding-left: 10px;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 640px) {
    .heading {
        font-size: 1.2em;
    }
    .availableProfiles label input {
        margin-right: 10px!important;
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1); 
        transform: scale(1.1); 
    }
    .availableProfiles label {
        font-size: 1em;
    }   
    .placeTime input {
        margin-right: 10px;
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1); 
    }
    .placeTime label {
        font-size: 1em;
    }
    .typeIntern {
        font-size: 1em;
    }
    
    .startDate input[type="radio"] {
        margin-right: 20px;
        -ms-transform: scale(1); 
        -webkit-transform: scale(1); 
        transform: scale(1); 
    }
    .startDate label {
        margin-left: 20px!important;
        font-size: 1em;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        margin-right: 20px;
    }
    .pay select {
        height: 40px;
        padding-left: 10px;
        font-size: 1em; 
    }
    .pay input {
        height: 40px;
        padding: 5px;
        padding-left: 10px;
        font-size: 1em;
    }
}

@media only screen and (max-width: 596px) {
    .availableProfiles label input {
        margin-right: 4px!important;
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9); 
        transform: scale(0.9); 
    }
    .availableProfiles label {
        font-size: 0.9em;
    }  
    .placeTime input {
        margin-right: 4px;
        -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9);
        transform: scale(0.9); 
    }
    .placeTime label {
        font-size: 0.9em;
    }
    .typeIntern {
        font-size: 1em;
    } 
    .city {
        height: 40px;
        font-size: 16px;
        padding-left: 20px;
    }
    .startDate input[type="radio"] {
        margin-right: 20px;
        -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9); 
        transform: scale(0.9); 
    }
    .startDate label {
        font-size: 0.9em;
    }
    .duration input {
        padding-left: 10px;
    }
    .pay select {
        height: 40px;
        padding-left: 10px;
        font-size: 0.9em; 
    }
    .pay input {
        height: 40px;
        padding: 5px;
        padding-left: 10px;
        font-size: 0.9em;
    }
}
